{% extends "ajaxCrudApp/home.html" %}

{% block content %}
    <table id="Datatable1">
        <thead>
        <tr>
            <th >ID</th>
            <th >Name</th>
            <th >age</th>
            <th >Location</th>
            <th >Action</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{employee.id}}</td>
                        <td>{{employee.employee_name}}</td>
                        <td>{{employee.employee_age}}</td>
                        <td>{{employee.employee_location}}</td>
                        <td>
                        
                            <input
                            type="button"
                            data-sid="{{employee.id}}"
                            class="btn btn-warning btn-sm btn-edit"
                            value="Edit" 
                             />
                             <input
                             type="button"
                             data-sid="{{employee.id}}"
                             class="btn btn-danger btn-sm btn-del"
                             value="Delete"
                              />
                        </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block extra_js %}
  
{% endblock %}