<html lang="en">
<head>
    <title>Ajax X pagination CRUD APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <!-- <div class="col-sm-8"> -->
    {% block extra_head %}
    
    {% endblock %}
</div>
</div>
</head>

<body>
    <div class='container mt-5'>
        <h2 class="text-center alert alert-danger">Django Ajax CRUD App</h2>
        <div class="row">
            <div class="col-sm-3">
                <h4 class="text-center alert alert-info">Add/Update</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- {% csrf_token %}    -->
                    {{form.as_table}}
                    
                    <input type="hidden" name="employeeid" id='empid' >
    
                    <input type="button"
                    class="btn btn-success"
                    value="Save"
                    
                    id="btnsave"
                     />
                    </form>
                    <div id='msg' class="alert alert-danger"
                    style='display: none'></div>
                   
            </div>

    <div class="col-sm-9">
    <h4 class="text-center alert alert-info">Show Details</h4>

    {% block content %}

    {% endblock %}
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% block extra_js %}
{% endblock %}

{% include 'ajaxCrudApp/ajax.html' %}
</body>



<script>
function refreshPage(){
    window.location.reload();  //////For Refreshing page after insertion
} 
</script>


</html>